# .clang-format
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
AllowShortIfStatementsOnASingleLine: false
SortIncludes: true
IncludeBlocks: Regroup
SpacesInParentheses: false
SpaceAfterCStyleCast: true
AlignAfterOpenBracket: Align
ReflowComments: true
