[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/Rodrigo-Vildosola/glfw
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/Rodrigo-Vildosola/glm
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/Rodrigo-Vildosola/spdlog
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/Rodrigo-Vildosola/imgui
[submodule "external/glfw3webgpu"]
	path = external/glfw3webgpu
	url = https://github.com/Rodrigo-Vildosola/glfw3webgpu
